<div class="container">
  <div class='top-wrapper'>
  </div>

  <h2 class="text-center">「できたよ」「できたね」を合言葉に</h2>
  <p class="text-center">大人の「早くしなさい」を減らしながら、子供達の生活習慣を身につける</p>
</div>

<div class="container my-4 text-center">
  <div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to  t("defaults.sign_up"), new_user_registration_path, class: "btn btn-primary custom-btn", role: "button" %>
        <%= link_to  t("defaults.sign_in"), new_user_session_path, class: "btn btn-primary custom-btn", role: "button" %>
    </div>
  </div>
</div>
