<% if children.empty? %>
  <p><%= t('children.please_register') %></p>
<% else %>
  <% children.each do |child| %>
    <div class="container d-flex flex-sm-row flex-column justify-content-center align-items-center mb-3">
      <div class="border border-warning border-5 rounded-3 text-center py-2" style="width: 200px;" > 
        <%= child.name %>
      </div>
      <% if @is_user_children %>
        <div class="mx-3 d-flex">
          <%= link_to t('children.index.edit'), edit_child_path(child), class: "btn btn-primary btn-sm custom-btn mx-1", role: "button" %>
          <%= link_to t('children.index.destroy'), child_path(child), class: "btn btn-primary btn-sm custom-btn mx-1", role: "button", data: { turbo_method: :delete, turbo_confirm: t("defaults.confirm_delete") } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
