<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-6 mx-auto">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <h5 class="mt-2"><%= t('.title') %></h5>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto my-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to t("defaults.user_menu"), menu_user_path(@user), class: "btn btn-primary custom-btn" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-10 col-lg-6 mx-auto">
      <div class="border border-1 rounded-3">
        <%= render 'children/child', children: @children %>
      </div>
    </div>
  </div>

  <% if @children.count < 3 %>
    <%= render 'children/form',child: @child, user: @user %>
  <% end %>
</div>
