<footer class="d-flex justify-content-center align-items-center custom-bg" style="height:80px">
  <div class="container text-center">
    <small>© 2024 Did it All Rights Reserved.</small>
  </div>
</footer>
