<header>
  <nav class="navbar navbar-expand-sm custom-bg py-md-4">
    <div class="container-fluid">
      <%= link_to image_tag('logo.png', height: "60"), root_path %>
        
      <div class="d-none d-sm-block">
        <%= link_to user_path(current_user) do %>
          <button type="button" class= "btn btn-primary custom-btn">
            <i class="bi bi-person-circle"></i> <%= t("defaults.buttons.user_page") %>
          </button>
        <% end %>
      </div>
      <div class="d-sm-none">
        <%= link_to user_path(current_user) do %>
          <i class="bi bi-person-circle" style="font-size: 2rem; "></i>
        <% end %>
      </div>
    </div>
  </nav>
</header>
