.custom-bg {
  background-color: rgb(255, 255, 155); /* 任意の色に変更 */
}

.custom-btn {
  background-color: #5533ff; /* ボタンの背景色 */
  color: white;               /* ボタンの文字色 */
  border: none;               /* ボーダーをなしにする */
  padding: 10px 20px;        /* パディングを調整 */
  border-radius: 10px;        /* 角を丸くする */
  transition: background-color 0.3s; /* ホバー時のトランジション */
}

.custom-btn:hover {
  background-color: #3b23b4; /* ホバー時の背景色 */
}

.top-wrapper {
    background-image: url("top.png");
    height: 70vh;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
    .top-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      color: black;
  
      @media screen and (max-width: 767px) {
        font-size: 2.0rem;
      }
    }
  }
